build/
*.ipr
run/
*.iws
out/
*.iml
.gradle
output/
bin/
libs/

.github/workflows/auto-build.yml
.classpath
*/.factorypath
.project
.idea/
classes/
.metadata
.vscode
.settings
*.launch
.architectury-transformer/debug.log
forge/src/generated
fabric/src/generated

*.patch
*.DS_Store

#todolist.txt
crash*.txt