build/
*.ipr
run/
*.iws
out/
*.iml
/.gradle/*
/.gradle/loom-cache/*
/.gradle/loom-cache/remapped_mods/*
!/.gradle
!/.gradle/loom-cache
!/.gradle/loom-cache/remapped_mods
!/.gradle/loom-cache/remapped_mods/dev
!/.gradle/loom-cache/remapped_mods/dev/latvian
!/.gradle/loom-cache/remapped_mods/dev/latvian/mods
output/
bin/
libs/

.classpath
*/.factorypath
.project
.idea/
classes/
.metadata
.vscode
.settings
*.launch
.architectury-transformer/debug.log
forge/src/generated
fabric/src/generated

*.patch
*.DS_Store

#todolist.txt
crash*.txt