build/
*.ipr
run/
*.iws
out/
*.iml
.gradle/**
!.gradle/loom-cache/remapped_mods/dev/latvian/mods/
output/
bin/
libs/

.classpath
*/.factorypath
.project
.idea/
classes/
.metadata
.vscode
.settings
*.launch
.architectury-transformer/debug.log
forge/src/generated
fabric/src/generated

*.patch
*.DS_Store

#todolist.txt
crash*.txt